.posts(*ngIf="postsList$ | async as postsList")
  .create-post.d-flex.justify-content-center
    button.btn.btn-success.mt-2.bi.bi-plus-lg.rounded(*ngIf='accountFacade.isAuthenticated$() | async' type='button', [routerLink]="['/create']") Post
  .post-item.d-flex.justify-content-center(*ngFor='let post of postsList')
    app-post-item([post]='post')