/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);


body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.login, .register {
  input.ng-valid {
    border-left: 5px solid #42A948;
  }

  input.ng-invalid {
    border-left: 5px solid #a94442;
  }
}

.cur-pointer {
  cursor: pointer;
}